= simple_form_for(@contact, html: { class: 'form-horizontal', mulitpart: true }) do |form|
  = form.input :first_name
  = form.input :last_name
  = form.input :primary_email_id
  = form.input :secondary_email_id
  = form.input :mobile_number
  = form.input :city
  = form.input :state
  = form.simple_fields_for :photo do |f|
    = f.input :image, as: :file
  = form.input :country, as: :string 
  = form.submit nil, class: 'btn btn-primary'